* {

    margin: 0;
    padding: 0;

}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: black;
    color: #f6f6f6;
}

.titulo-destaque {
    color: #22D4FD;
}

img{
    width: 350px;
    height: 350px;
}

.apresentacao {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 10%;

}

