@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root{

    --primary-bg-color:  #0B2447;
    --secondary-bg-color: #FAF0E6;
    --tertiary-bg-color: #A5D7E8;
    --hover-bg-color: #576CBC;

    --font-principal: 'Krona One', sans-serif;
    --font-secondary: 'Monteserrat', sans-serif;
}

* {

    margin: 0;
    padding: 0;

}

body{
    box-sizing: border-box;
    background-color: var(--primary-bg-color);
    color: var(--secondary-bg-color);
}

.cabecalho{

    padding: 2% 0 0 15%;

}

.cabecalho__menu{

    display: flex;
    gap: 80px;

}

.cabecalho__menu__link{

    text-decoration: none;
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--tertiary-bg-color);


}

.my_profile_photo{
    width: 850px;
    height: 750px;
    margin: 10px;
    border: #22d4fd 1px solid;
    box-shadow: 5px -5px 5px 2px #22d4fd;

}

.apresentacao {
    padding: 5% 15%;
    align-items: center;
    display: flex;
    gap: 5%;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;


}

.apresentacao__conteudo__titulo{

    font-size: 2.25rem;
    font-family: var(--font-principal);

}



.titulo-destaque {
    color: var(--tertiary-bg-color);
}


.apresentacao__conteudo__texto{
    font-family: var(--font-secondary);
    font-size: 1.5rem;

}

.apresentacao__links{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 32px;

}

.apresentacao__links__subtitulo{

    font-family: var(--font-principal);
    font-weight: 400;
    font-size: 1.5rem;

}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: #22d4fd 2px solid;
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    padding: 21.5px 0 ;
    margin: 10px;
    text-decoration: none;
    color: var(--secondary-bg-color);
    font-weight: 600;
    font-family: var(--font-secondary);
 
}

.apresentacao__links__link:hover{

    background-color: var(--hover-bg-color) ;
    box-shadow: 5px -5px 5px 2px #22d4fd;
    cursor: pointer;

}

.apresentacao__imagem{

    width: 50%;
    margin-bottom: 5%;

}

.rodape{

    background-color:var(--tertiary-bg-color);
    padding: 24px;
    text-align: center;
    font-family: var(--font-secondary);
    font-size: 1.5rem;
    font-weight: 400;
    margin-top: 8%;

}

.rodape__paragrafo{

    color: var(--primary-bg-color);
    font-weight: 600;

}

@media (max-width: 1200px){

    
.cabecalho{
    padding: 10%;
}

.cabecalho__menu{

    justify-content: center;

}

.apresentacao{
    flex-direction: column-reverse;
    padding: 0;
}

.apresentacao__conteudo {

    width: 90%;
}


}